* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #d8cfd8;
}
body *{
  font-family: 'Bricolage Grotesque', sans-serif;
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 25px;
}




.container {
  width: 200px;
  height: 200px;
  position: relative;
}

#profile{
  text-align: center;
  padding: 24px;
}
#profile img{
  width: 112px;
  border-radius: 50%;
  border:3px solid #511F52;
}

#profile p{
  line-height: 24px;
  margin-top: 8px;
}

/* links*/

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;

}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  color:white !important;
  background: #a987ab;
  border: 1px solid  #b8afca;
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

/*  pseudo-selector*/
ul li a:hover {
    background: #ecd4ea;
    border: 1.5px solid white;
}


#icons{
  display: flex;
    justify-content: center;

    
     
    padding:24px 0;

    font-size: 24px;
    
}
#icons a{
 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
color: black;
}